
body
{
	border : 3px black solid;
	border-radius: 20px;
	box-shadow: 6px 6px 6px black;
}
p
{
	margin-left: 10px;
	text-align: left; 
	font-size: 0.5em; 
	font-family: Verdana,Courier New, Arial, Comic Sans MS
	
}

h1
{
	text-align: center;
	opacity: 1;
}

ul
{
	text-align: left;
	font-size : 0,3em;
	
}

div
{
	text-align: left;
	font-size : 0,3em;
}